@use '../mixin' as *;
@use '../variables' as *;

.counter {
  max-width: 80px;
  display: flex;
  gap: 6px;
  justify-content: space-between;
  align-items: center;
  padding: 5px 11px;

  border: 1px solid $secondary-light;
  border-radius: 32px;

  &__item {
    display: block;
    min-width: 14px;
    color: $main-ligth;
    text-align: center;

    &_plus,
    &_minus {
      cursor: pointer;

    }
  }
}