@use '../mixin' as *;
@use '../variables' as *;

.breadcrumb {

  padding-top: 10px;

  @include tablet {
    padding-top: 14px;
  }

  @include laptop {
    padding-top: 22px;
  }

  &__container {}

  &__navigation {

  }

  &__list {
    display: flex;
    gap: 6px;
    color: $secondary-dark
  }

  &__item {
    display: flex;
    gap: 6px;
    align-items: center;
    border-bottom: 1px solid transparent ;

    transition: color $transition;

    &:not(:last-child)::after {
      content: '>';
      display: block;
      
    }

    &:hover {
      color: $primary;
    }

    &:last-child {
      cursor: pointer;
      & a {
        cursor: no-drop;

      }
    }
  }

  &__link {
    cursor: pointer;
    outline: none;
    border-bottom: 1px solid transparent;

    &:focus-visible {
      border-color: $main-ligth;
    }

    

  }
}
