@use '../mixin' as *;
@use '../variables' as *;

.btn-cart {
  border: 1px solid $primary;
  border-radius: 32px;
  padding: 12px 24px;
  color: $primary;
  outline: none;
  transition: color $transition, background-color $transition, border-color $transition, opacity $transition;

  &:hover {
    color: $secondary;
    background-color: $primary;
  }

  &:focus-visible {
    border-color: #042f9c;
  }

  &:disabled {
    opacity: 0.2;
  }
}

.btn-like {
  content: '';
  top: 12px;
  right: 12px;
  color: $secondary;
  stroke: $main-ligth;

  &_active {
    color: $primary;
    stroke: $primary;
  }

}
