@use '../mixin' as *;
@use '../variables' as *;

.catalog {
  overflow-x: hidden;
  padding-top: 10px;

  @include tablet {
    padding-top: 14px;
  }

  @include laptop {
    padding-top: 22px;
  }

  &__container {
  }

  &__list {
    display: flex;
    gap: 4px;
  }

  &__item {
    cursor: pointer;
  }

  &__link {
    display: block;
    align-items: center;
    padding: 11px 14px 13px;
    color: $secondary-dark;
    background-color: $secondary-light;
    border-radius: 32px;
    border: 1px solid transparent;
    transition:
      color $transition,
      border-color $transition,
      background-color $transition;

    &:hover {
      color: $primary;
      border-color: $primary;
    }

    &_active {
      color: $secondary;
      background-color: $primary;
      border-color: $primary;

      &:hover {
        color: $secondary;
      }
    }
  }
}
