@use '../mixin' as *;
@use '../variables' as *;

.goods {
  padding-top: 24px;
  padding-bottom: 40px;

  @include tablet {
    padding-top: 32px;
  }

  @include laptop {
    padding-top: 40px;
    padding-bottom: 60px;
  }


  &__title {
    font-family: $font-family-secondary;

    font-size: 24px;
    font-weight: 900;
    margin-bottom: 24px;

    @include tablet {
      margin-bottom: 32px;
    }

    @include laptop {
      margin-bottom: 40px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 1fr));
    gap: 32px 8px;

    @include tablet {
      grid-template-columns: repeat(3, minmax(230px, 1fr));
      column-gap: 10px;
    }

    @include desktop {
      grid-template-columns: repeat(4, minmax(302px, 1fr));
      gap: 40px 16px;
    }
  }

  &__item {
    min-height: 233px;
    height: 100%;

    @include tablet {
      min-height: 315px;
    }

    @include laptop {
      min-height: 342px;
    }
  }

  &__empty-item {
    grid-column: 1 / -1;
    align-items: center;
    margin: 0 auto;
  }

  &__empty-title {
    text-align: center;
    font-size: 14px;
    margin-bottom: 20px;

    @include tablet {
      font-size: 26px;
    }

    @include laptop {
      font-size: 32px;
    }
  }

  &__empty-link {
    display: block;
    cursor: pointer;
    text-align: center;
    color: $primary;
    font-size: 14px;
    text-decoration: double;

    
    @include tablet {
      font-size: 20px;
    }

    @include laptop {
      font-size: 26px;
    }
  }
}


