@use '../mixin' as *;
@use '../variables' as *;

.product {
  padding-top: 24px;
  padding-bottom: 60px;

  &__container {
    display: grid;
    grid-template-areas: 'title' 'slider' 'info';
    grid-template-columns: 1fr;
    gap: 24px;

    @include laptop {
      grid-template-areas: 'title title' 'slider info';
      grid-template-columns: 1fr 302px;
      gap: 40px 16px;
    }

    @include desktop {
      grid-template-areas: 'title title' 'slider info';
      grid-template-columns: 1fr 408px;
      gap: 40px 16px;
    }
  }


  &__title {
    grid-area: title;
    font-family: $font-family-secondary;
    font-weight: 900;
    font-size: 24px;

    @include tablet {
      font-size: 32px;
    }

    @include laptop {
      font-size: 40px;
    }
  }

  &__slider {
    width: 100%;
    display: flex;
    flex-direction: column;
    
    grid-area: slider;
    margin-bottom: 8px;

    @include tablet {
      margin-bottom: 16px;
      gap:14px
    }

    @include laptop {
      margin-bottom: 0;
      gap:12px;
    }

    @include desktop{
      gap: 16px;
    }
  }

  &__slider-image {
    width: 100%;
    border-radius: 16px;

  }

  &__slider-thumbnails {
    display: none;

    @include tablet {
      display: flex;
      gap: 14px;
    }

    @include laptop {
      gap: 12px;
    }

    @include desktop {
      gap: 16px;
    }
  }

		&__info {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }

		&__info-top {
      color: $main-ligth;

    }

		&__info-price {
      margin-bottom: 12px;
      font-size: 20px;
    }

		&__info-id {
      display: block;
      padding: 4px 8px;
      background-color: $secondary-light;
      border-radius: 32px;
      width: max-content;
    }

		&__info-body {
      
    }

		&__info-title {

    }

		&__info-table {

    }

				&__info-btns {
      display: flex;
      gap: 12px;
      align-items: center;

    }

		&__btn-cart {

    }
		&__btn-like {}

}

.slider-thumbnails {

  &__item {
    overflow: hidden;
    border-radius: 16px;
    width: 100%;
  }

  &__img {
    object-fit: cover;
    width: 100%;
    height: 100%
  }
}