$dark: #000000;
$dark-alt: #181818;
$light: #ffffff;

$primary: #f87c09;
$primary-light: #ff922e;
$primary-dark: #aeaaaa;

$secondary: #eaeaea;
$secondary-dark: #6b6b6b;

$font-family: "montserrat", sans-serif;
$font-size: 12px;

$transition: 0.24s ease-in-out;
