$main: #000000;
$main-ligth: #1C1C1C;

$primary: #0044F0;

$secondary: #FFFFFF;
$secondary-dark: #969EAE;
$secondary-light: #EEEFF2;

$font-family: "OpenSans", sans-serif;
$font-family-secondary: "InterBold";
$font-size: 12px;

$transition: 0.24s ease-in-out;
